
{{!--                                       +--------------------+ --}}
{{!-- sample layout -> 1. California Burger | Devour this Burger | --}} 
{{!--                                       +--------------------+ --}}
{{!-- set the class to determine if the main.js click handler will apply to it or not --}}
<div class="col-12 d-inline-block">
    {{id}}. {{burger_name}} 
    {{#unless devoured_bool}}
    <button class="devoured-button btn btn-sm my-1 float-right" burger-id="{{id}}" devoured-data="{{devoured_bool}}">
        Devour da Burger</button>
    {{/unless}}
</div>